spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/creditsdb
    username: credits
    password: credits

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
